/* este css sirve para poner horizontal los links de arriba */
.main { 
    display: flex;
    flex-wrap: wrap;
}

/* Este sirve para recuadrar los casilleros de ingreso de alumnos */
#recuadro{
    text-align: center;
    border-style:groove;
    width:450px;
    color: blue;
}
#stIngr{
    margin:auto;
}
.th{
    margin:auto;
    text-align: center;
    padding:2px;
}

#tabla{
    display: flex;
}